.HorseLight {
    position: relative;
    overflow: hidden;

    .content {
        position   : absolute;
        white-space: nowrap;

        .item-container {
            display: inline-block;
            height : 100%;

            .item-content {
                overflow: hidden;
                height  : 100%;
            }
        }
    }
}